*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
    background-color:rgb(133, 34, 34); 
    padding:20px;
    text-align: center;
}

h1{ 
    color: rgba(218, 135, 135, 0.73);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 37px;
    margin-bottom:14px ;
}

p { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;  
    color: rgb(2, 5, 7);
}  

nav{
 background-color: rgb(159, 56, 56);
 padding: 22px;
 text-align: center;
 
}

nav a { 
    text-decoration:none;
    color: #fbc7c7;
padding: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Verdana", sans-serif ;
    
}

article a { 
    text-decoration:none;
    color: #fbc7c7;

    font-weight: bold;
    font-size: 20px;
    font-family: "Verdana", sans-serif}
 
nav a:hover{
    background-color: rgb(243, 102, 102);
    transition: background-color 0.4s;

}

main{
    background-color: rgb(249, 249, 249);
    display: flex;
    
}

section {

   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(208, 178, 156);
   padding: 0px 20px;
   width: 800px;
   max-width: 100%;
   margin: 0 auto;
   border-radius: 0px 0px 10px 10px;
   
   }

h2  {
   font-family: "poppins", sans-serif;
   font-size: 28px; 
    color: rgb(84, 4, 5); 
    text-align: center; 
    margin-bottom: 20px;
    margin-top: 5px;
}
     
 section h3 {
  font-family: "poppins", sans-serif;
  font-size: 28px; 
  color: rgb(160, 26, 37);
  margin-top: 10px;
 
 }
  
 section p{
  font-size: 20px;
  color: rgb(3, 3, 13);
  margin-bottom: 10px;
 }

 img {
    max-width: 100%;
    margin-top: 10px;
 }

 span {
    color: black;
    font-size: 15px;
 }